---
title: About
description: About AIPath website
---

<!--Introduction-->
<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<p>In this website, we present work related to artificial intelligence and pathology. </p>
				
				<p>We are at <a href="http://www.xjtu.edu.cn/">Xi'an Jiaotong University</a></p>
				<a href="http://www.xjtu.edu.cn/">
					<img src="{{ site.baseurl }}/images/xjtu-logo.png" style="background: #00426A; width: 200px; padding: 10px;"/>
				</a>
			</div>
		</div>
	</section>
</div>

<!--Things below came with the template-->
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Website manager</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
<!--End of things with the template-->
