---
layout: default
title: Events
permalink: /events/
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>News and Events</strong></h1>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<p>Stay tuned for updates on upcoming workshops and challenges related to digital pathology. Sign up to our newsletter. You need to click a link in the confirmation email to complete the sign up process. </p>
				<iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/3fAJ/k3i" width="100%"></iframe>
				<script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>

				<h3 class="editable">Upcoming</h3>
					<h4>AIPath2020</h4>
					<p>AIPath2020 - International Workshop on Artificial intelligence in Pathology – <a href="https://bibm2020.aipath.org/">Link to workshop section.</a></p>

				<h3 class="editable">Past events</h3>
					<h4>AIPath2019</h4>
					<p>AIPath2019 - International Workshop on Artificial intelligence in Pathology – <a href="https://bibm2019.aipath.org/">Link to workshop section.</a></p>
            </div>
		</div>
	</section>
</div>
