---
title: AIPath Home
description: Artificial Intelligence in Pathology
---

<div class="content">

	<section style="border-bottom: 2px solid rgb(214, 214, 214);">
		<div class="container flex">
			<div class="text editable">
				<h2>Artificial Intelligence in Pathology</h2>
				<p>Transition from conventional to digital pathology -- With virtual slides, computational algorithms can be applied to analyze tissue structures at different levels: cellular, inter-cellular, cell architecture, texture of the tissue, etc. Connecting pathology to other areas in medicine is also possible. </p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/aipath-banner.png" alt="Overview of artificial intelligence in pathology" />
			</div>
		</div>
	</section>

	<section style="border-bottom: 2px solid rgb(214, 214, 214);">
		<div class="container flex" style="margin-top: 20px;">
			<div class="text editable">
				<h2>AIPath 2021 workshop</h2>
				<p>
					The AIPath 2021 workshop will be held on Dec 9 - 12, 2021 in association with <a href="https://ieeebibm.org/BIBM2021/">the BIBM 2021 conference</a>. 
					<br /> 
					For more information, please visit <a href="https://aipath2021.chenli.group">the workshop page</a>.
				</p>
			</div>
		</div>
	</section>

	<section style="border-bottom: 2px solid rgb(214, 214, 214);" hidden>
		<div class="container flex" style="margin-top: 20px;">
			<div class="text editable">
				<h2>AIPath 2020 workshop</h2>
				<p>
					The AIPath 2020 workshop will be held on Dec 16 - 19, 2020 in association with <a href="https://ieeebibm.org/BIBM2020/">the BIBM 2020 conference</a>. 
					<br /> 
					For more information, please visit <a href="https://bibm2020.aipath.org">the workshop page</a>.
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<p>Artificial intelligence has had successful applications in fields like computer vision 
					and natural language processing. Behind these successes was the availability of large-scale annotated datasets. 
					In the past decade, digitized histopathological images have gained quantity and accessibility so that application of machine learning techniques are feasible. 
					The potential of the technology is far from being fully exploited in pathology. 
					Our group, <a href="http://www.chenli.group/">Biomedical Semantic Understanding Group</a>, in <a href="http://xjtu.edu.cn/">Xi'an Jiaotong University</a>, is working on facilitating transition of conventional to digital pathology. 
					We believe that this can be done by</p>

                <li>Standardized data exchanging standard</li>
                <li>Open source software and tools for digital pathology</li>
				<li>Large-scale datasets with annotations</li>

				<p>We describe our work in this site to promote development in digital pathology.</p>
				<p>Since 2018, we have been developing and maintaining <a href="https://bioai.gitlab.io/OpenHI/">OpenHI</a>, a digital pathology platform. 
					This will facilitate transition from conventional to digital pathology in several ways: 
					establish easy-to-use tools for pathologists and data scientists to work with multi-resolution images, 
					reduce efforts in large-scale histopathological image annotation, 
					and integrate semantic standards into annotated pathological database. 
					Other than the platform, our group organize workshops as a forum for researchers in digital pathology. 
					So far, <a href="https://bibm2019workshop.aipath.org/">AIPath2019</a> was organized in November 2019 in conjunction with <a href="http://ieeebibm.org/BIBM2019/">BIBM2019</a> and  <a href="https://bibm2020.aipath.org/">AIPath2020</a> was organized in December 2020 in conjunction with <a href="http://ieeebibm.org/BIBM2020/">BIBM2020</a> </p>

				<p>To get latest updates from us, please <a href="events">sign up for our newsletter</a> (Frequency: less than once a month).</p>
            </div>
		</div>
	</section>
</div>
