---
layout: default
title: OpenHI
permalink: /libmi/
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>libMI</strong></h1>
		<p class="subtext editable">A library for multi-scale images</p>
		<div>
			<img src="{{ site.baseurl }}/images/libmi-pyramid.jpg" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
                <h3 class="editable">Introduction</h3>
				<p>libMI is a C++ library for annotating histopathological images.</p>
            </div>
		</div>
	</section>

    <section>
		<div class="container flex">
			<div class="text editable">
                <h3 class="editable">Documentation</h3>
				<p>The documentation of OpenHI is available at <a href="https://bioai.gitlab.io/libMI-docs/">https://bioai.gitlab.io/libMI-docs/</a></p>
            </div>
		</div>
	</section>

    <section>
		<div class="container flex">
			<div class="text editable">
                <h3 class="editable">Source Code</h3>
				<p>Available in our GitLab repository: <a href="https://gitlab.com/BioAI/libMI">https://gitlab.com/BioAI/libMI</a></p>
            </div>
		</div>
    </section>

	<section>
		<div class="container flex">
			<div class="text editable">
                <h3 class="editable">Publication</h3>
				<p>Check out the libMI <a href="https://doi.org/10.4103/jpi.jpi_11_20">paper</a> at the Journal of Pathology Informatcis.</p>
            </div>
		</div>
    </section>
</div>
