---
layout: default
title: OpenHI
permalink: /openhi/
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>OpenHI</strong></h1>
		<p class="subtext editable">A digital pathology platform</p>
		<div>
			<img src="{{ site.baseurl }}/images/openhi_gui_1_small.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
                <h3 class="editable">Introduction</h3>
				<p>OpenHI – Open Histopathological Image – is an open source platform for digital pathology. Built around digital histology slides, OpenHI can</p>
                <li>Annotate digital slides according to preset standard.</li>
                <li>Fluidly view the whole-slide image from various vendors.</li>
                <li>Provide options to create a list of focused regions.</li>
                <li>Provide accompanying slide information parsed from GDC XML format.</li>
                <p>OpenHI is under active development toward with a goal to become the de facto of digital pathology platform.</p>
            </div>
		</div>
	</section>

    <section>
		<div class="container flex">
			<div class="text editable">
                <h3 class="editable">Documentation</h3>
				<p>The documentation of OpenHI is available at <a href="https://bioai.gitlab.io/OpenHI">https://bioai.gitlab.io/OpenHI</a></p>
            </div>
		</div>
	</section>

    <section>
		<div class="container flex">
			<div class="text editable">
                <h3 class="editable">Source Code</h3>
				<p>Available in our GitLab repository: <a href="https://gitlab.com/BioAI/OpenHI">https://gitlab.com/BioAI/OpenHI</a></p>
            </div>
		</div>
    </section>

    <section>
		<div class="container flex">
			<div class="text editable">
				<h3 class="editable">Our Team</h3>
					<h4>PhD candidates at XJTU</h4>
						<li>Pargorn Puttapirat</li>
						<li>Kai He</li>
						<li>Peiliang Lou</li>
						<li>Zeyu Gao</li>
						<li>Jialun Wu</li>
					<h4>Team of XJTU graduate researchers</h4>
						<li>Yuxin Dong</li>
						<li>Jiangbo Shi</li>
						<li>Jingyi Deng</li>
						<li>Bangyang Hong</li>
					<h4>Team of XJTU undergraduate researchers</h4>
						<li>Haichuan Zhang</li>
						<li>Hongyu He</li>
						<li>Kaiwen Tang</li>
						<li>Kun Wang</li>
						<li>Ling Ye</li>
				<h3>Collaborators</h3>
					<h4>Pathologists at the First Affiliated Hospital of Xi’an Jiaotong University</h4>
						<li>Guanjun Zhang</li>
						<li>Chunbao Wang</li>
						<li>Hui Guo</li>
					<h4>Mayo Clinic, US</h4>
						<li>Lixia Yao</li>
						<li>Ruifeng Guo</li>
					<h4>Scientific advisors</h4>
						<li>Rui Jiang, <i>Tsinghua University, China</i></li>
						<li>Sumitra Thongprasert, <i>Chiang Mai University, Thailand</i></li>
						<li>Weiguo Zhu, <i>Peking Union Medical College Hospital, China</i></li>
						<li>Xiangrong Zhang, <i>Xidian University, China</i></li>
						<li>Xuchao Zhang, <i>Guangdong General Hospital, China</i></li>
            </div>
		</div>
	</section>
</div>
