---
layout: default
title: Patents
permalink: /patents/
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>Patents</strong></h1>
	</div>
</section>
  
<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h3>一种基于标签校正的元学习细胞核分割系统及方法</h3>
					<p>发 明 人：李辰,时江波,高泽宇,鲍鑫睿 
						<br/>
						申 请 号：2021106510671</p>
				<h3>基于云端的大型病理学图像协作注释方法及系统</h3>
					<p>发 明 人：李辰,帕戈姆·普塔皮拉特,张海川
						<br/>
						申 请 号：2019102529559</p>
				<h3>一种细粒度癌症亚型分类方法</h3>
					<p>发 明 人：李辰,洪邦洋,高泽宇
						<br/>
						申 请 号：2021104670233</p>
				<h3>一种病理图像预后特征权重计算方法及系统</h3>
					<p>发 明 人：李辰,吴佳伦,高泽宇,张海川,帕戈姆·普塔皮拉特
						<br/>
						申 请 号：2020111831767</p>
				<h3>一种特大图像的存储与读写方法</h3>
					<p>发 明 人：李辰,董裕欣,帕戈姆·普塔皮拉特,邓静怡
						<br/>
						申 请 号：2019112064666</p>
				<h3>一种应用于肾细胞癌全链条诊断的图像识别系统</h3>
					<p>发 明 人：李辰,吴佳伦,高泽宇,张海川,帕戈姆·普塔皮拉特
						<br/>
						申 请 号：202110520521</p>
				<h3>To be updated</h3>

            </div>
		</div>
	</section>
</div>

